.font-size-18{
    font-size: 18px;
}
.iconfont {
    text-align: center; 
    font-size: 18px;
    padding-right: 5px;
    vertical-align: middle;
}
.img {
    width: 100%;
    vertical-align: middle;
}
