#app {
    // 主体区域 Main container
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }
  .sidebar-container {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    overflow: hidden;
    width: $sideBarWidth !important;
    height: 100%;
    font-size: 0px;
    background-color: rgb(48, 65, 86);
    transition: width .28s;
  }
}