#app {
    // 主体区域 Main container
  .main-container {
    position: relative;
    min-height: 100%;
    margin-left: $sideBarWidth;
    transition: all .1s linear;
   
  }
  .sidebar-container {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    overflow: hidden;
    height: 100%;
    font-size: 0px;
    background-color: rgb(48, 65, 86);
  }
  .margin-left-58 {
      margin-left: 58px;
  }
}